@inherits LayoutComponentBase
@using Event_Ease_2.Shared

<div class="page">
    <header>
        <NavMenu CartItems="CartItems" />
    </header>

    <main>
        <div class="content px-4">
            @Body
        </div>
    </main>
</div>
